.contact {
    background-color: $light-yellow;
    padding: $side;

    h2 {
        padding-top: 100px;
        color: $yellow;
        font-style: normal;
        font-weight: 800;
        font-size: 100px;
        line-height: 150px;
    }
}